server:
  port: 8091

spring:
  application:
    name: order-channel-hub
    version: 1.0.0
  datasource:
    url: jdbc:postgresql://ep-broad-bush-a8lp40bm-pooler.eastus2.azure.neon.tech:5432/neondb?sslmode=require&channelBinding=require
    username: neondb_owner
    password: npg_Ni5T3bqYHSWM
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 20000
      idle-timeout: 30000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
    com.learn.order: DEBUG
